h1{
    color: crimson;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: chartreuse;
    text-shadow: 5px;
}
nav{
    color: crimson;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: chartreuse;
    text-shadow: 5px;
}


